@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.productInfoTable {
  margin-bottom: 26px;

  .productInfoHeader {
    display: flex;

    .productValue {
      width: 20%;
      padding: 15px 0 15px 5px;
      color: #86868a;
      font-size: 14px;
      font-weight: $weight-regular;
    }
  }

  .productInfoCons {
    display: flex;

    .productInfoValueLi {
      display: flex;
      width: 100%;
    }
  }
}
