@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.loginButton {
  @include flexCenter;
  width: 360px;
  height: 30px;
  border: 1px solid #1e1e1e;
  background-color: white;

  &:hover {
    background-color: #1e1e1e;
    color: white;
  }
}
