@import '../../styles/variables.scss';

.productRelatedItems {
  width: 100%;
  margin: 0 auto;

  .productRelatedHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .productRelatedTxt {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .productRelatedArrow {
      button {
        width: 30px;
        height: 24px;
        margin-left: 5px;
        background: #1e1e1e;
        color: #fff;
      }
    }
  }
}

.slideWrapper {
  // display: flex;
  overflow: hidden;
  width: 100%;

  .slideConWrap {
    display: flex;

    .slideContainer {
      flex-shrink: 0;
      width: 220px;
      height: 300px;
      margin-right: 20px;
      overflow: hidden;

      .productRelatedImg {
        position: absolute;
        top: 90px;
        left: 0;
        width: 220px;
        margin-right: 10px;
        background: blue;

        .productRelatedInsideArrow {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 20px;
          width: 220px;

          padding: 0 16px;
          z-index: 20;

          button {
            font-size: 30px;
            color: #fff;
          }
        }
      }

      .slideWrapperTest {
        display: flex;

        .productRelatedSlideWrap {
          display: flex;
          position: relative;

          .productRelatedSlideConWrap {
            font-size: $font-regular;

            .title {
              margin: 10px 0;
            }

            .productRelatedSliderWrapper {
              width: 100%;
              height: 240px;
              overflow: hidden;
              display: flex;

              .productRelatedSlider {
              }
            }
          }
        }
      }
    }
  }
}
