/* Color */
$color-black: #222;
$color-dark-gray: #666;
$color-gray: #898b8d;
$color-light-gray: #f0f0f1;
$color-white: #fff;

/* Font size */
$font-large: 28px;
$font-medium: 22px;
$font-regular: 14px;
$font-small: 12px;
$font-micro: 11px;

/* Font weight */
$weight-bold: 700;
$weight-semi-bold: 500;
$weight-regular: 400;
$weight-thin: 300;

/* Border */
$border-gray: 1px solid #86868a;

/* Margin */
$margin-center: 0 auto;
