@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.filterAside {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  background-color: $color-black;
  color: $color-white;
  transform: translateX(350px);
  transition: all 300ms ease-in-out;

  &.active {
    transform: translateX(0px);
  }
}
