@import '../../styles/variables.scss';

.zarnaraCreateContainer {
  background-color: white;
  width: 650px;
  height: 450px;
  display: flex;
  justify-content: center;
  .zaranaraCreateAccount {
    background-color: white;
    width: 350px;
    height: 450px;
    .createAccountContainer {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      span {
        height: 30px;
        font-size: 12px;
        font-weight: bold;
      }
    }
    .choiceKindOfAccount {
      width: 340px;
      display: flex;
      justify-content: center;
      .common {
        span {
          font-size: 15px;
        }
      }
      .company {
        span {
          font-size: 15px;
        }
      }
    }
    .userPrivacyInput {
      background-color: white;
      width: 325px;
      height: 90px;
      .userName {
        margin-bottom: 10px;
        width: 320px;
        height: 25px;
        .name {
          width: 320px;
          height: 50px;
          border-bottom: 1px solid #1e1e1e;
        }
      }
      .userEmail {
        margin-bottom: 10px;
        width: 320px;
        height: 25px;
        .email {
          width: 320px;
          height: 50px;
          border-bottom: 1px solid #1e1e1e;
        }
      }
      .userPassword {
        margin-bottom: 10px;
        width: 320px;
        height: 25px;
        .password {
          width: 320px;
          height: 50px;
          border-bottom: 1px solid #1e1e1e;
        }
      }
    }
    .userPrivacyCheckBox {
      margin-top: 60px;
      .checkContainer {
        input {
          margin-bottom: 25px;
        }
        span {
          font-size: 13px;
        }
      }
      .checkPrivacy {
        input {
          margin-bottom: 25px;
        }
        span {
          font-size: 13px;
        }
      }
      .checkAboard {
        input {
          margin-bottom: 25px;
        }
        span {
          font-size: 13px;
        }
      }
      .checkSubscribe {
        margin-bottom: 25px;
        input {
          margin-bottom: 25px;
        }
        span {
          font-size: 13px;
        }
      }
      .createAccount {
        display: flex;
        justify-content: center;
        button {
          border: 1px solid #1e1e1e;
          width: 390px;
          height: 30px;
          font-size: 11px;
          font-weight: bold;
        }
        button:hover {
          background-color: #1e1e1e;
          color: white;
        }
      }
    }
  }
}
