@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.detailWrap {
  display: flex;

  .leftContainer {
    width: 55%;
    height: 1000px;
    background: red;
  }

  .rightContainer {
    position: fixed;
    right: 0;
    width: 45%;
    height: 1000px;
    padding: 120px 0 0 0;

    .rightContainerInner {
      position: relative;
      margin: 0px auto;
      width: 82%;
      height: auto;

      .productTitle {
        font-size: 24px;
        font-weight: 600;
        margin: 12px 0 7px 0;
      }

      .productPrice {
        font-size: 20px;
        font-weight: 600;
        line-height: 38px;
        margin: 0 4px 10px 0;
      }

      .productNumber {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
      }

      .productText {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 35px;
      }

      .productInfoTable {
        margin-bottom: 24px;

        .productInfoHeader {
          display: flex;

          .productValue {
            width: 30%;
            padding-left: 5px;
            padding: 15px 0;
            border-bottom: 1px solid #86868a;
            color: #86868a;
          }
        }

        .productInfoCons {
          display: flex;

          .productValue {
            width: 30%;
            padding-left: 5px;
            padding: 15px 0;
            border-bottom: 1px solid #86868a;
          }
        }

        .productDescription {
          width: 72px;

          .productLikes {
            width: 30px;
            background: pink;
          }

          .productAmount {
            width: 75px;

            .buttonDecrease {
              :before {
                content: '\ebae';
              }
            }
          }
        }
      }

      .productDetailInfo {
        margin-bottom: 10px;

        .productDetailContents {
          margin-bottom: 8px;
          font-size: 14px;
        }
      }
    }

    .relatedProducts {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
