@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.detail {
  display: flex;

  .dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
  }

  .leftContainer {
    width: 55%;
    height: 1000px;
  }

  .rightContainer {
    position: fixed;
    right: 0;
    width: 45%;
    height: 1000px;
    padding: 120px 0 0 0;

    .rightContainerInner {
      position: relative;
      margin: 0px auto;
      width: 82%;
      height: auto;

      .productTitle {
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 7px 0;
      }

      .productPrice {
        font-size: 20px;
        font-weight: 600;
        line-height: 38px;
        margin: 0 4px 10px 0;
      }

      .productNumber {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
      }

      .productText {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 30px;
      }

      .productInfoTable {
        margin-bottom: 24px;

        .productInfoHeader {
          display: flex;

          .productValue {
            width: 20%;
            padding: 15px 0 15px 5px;
            color: #86868a;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .productInfoCons {
          display: flex;

          .productInfoValue {
            width: 20%;
            padding: 8px 0;
            padding-left: 5px;
            border-top: 1px solid #86868a;
            border-bottom: 1px solid #86868a;
            font-size: 14px;
            font-weight: 500;
            line-height: 2;
          }

          .productInfoLikes {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-grow: 2;
            width: 20%;
            padding: 8px 5px 10px 0;
            border-top: 1px solid #86868a;
            border-bottom: 1px solid #86868a;

            .likes {
            }

            .amount {
              display: flex;
              justify-content: space-around;
              align-items: center;
              width: 75px;

              .amountNumber {
                width: 22px;
                height: 22px;
                background: #1e1e1e;
                border-radius: 100%;
                color: #fff;
                font-size: 12px;
                text-align: center;
                line-height: 22px;
              }
            }
          }
        }
      }

      .productDetailInfo {
        margin-bottom: 40px;

        .productDetailContents {
          margin-bottom: 8px;
          font-size: 14px;
          cursor: pointer;
        }
      }

      .productRelatedContainer {
        .productRelatedHeader {
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          .productRelatedTxt {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
          }

          .productRelatedArrow {
            button {
              width: 30px;
              height: 24px;
              background: yellowgreen;
              margin-left: 5px;
            }
          }
        }

        .productRelatedCons {
          display: flex;

          .productRelatedImg {
            display: flex;
            width: 100px;
            height: 100px;
            background: red;
            margin-right: 10px;
          }
        }
      }
    }

    .relatedProducts {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
