@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.detailModal {
  @include flexCenter;
  position: relative;

  .modalContainer {
    position: absolute;
    width: 300px;
    height: 400px;
    left: 30%;
    padding: 15px;
    background: #fff;
    border: 1px solid #333;
    z-index: 300;

    .wrapper {
      position: relative;

      .modalButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
      }

      .modalCon {
        padding: 16px;

        .modalConHeader {
          margin: 20px 0 15px 0;
          padding: 10px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 15px;
          font-weight: 700;
        }

        .modalContents {
          @include flexSpaceBetweenCenter;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
