@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.nav {
  @include flexSpaceBetweenCenter;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100px;
  color: $color-white;
  z-index: 999;

  .navLeftContainer {
    display: flex;

    .gnbMenuWrap {
      display: flex;

      .gnbAndLogo {
        display: flex;
        align-items: center;

        .menuBarIcon {
          width: 36px;
          height: 36px;
          margin-left: 20px;
          color: $color-white;
        }

        .zaranaraLogo {
          z-index: 9999;
          cursor: pointer;
          transition: all 300ms ease-in-out;
        }
      }

      .gnbMenuBar {
        position: absolute;
        top: 0;
        width: 320px;
        height: 100vh;
        padding: 125px 28px 28px 28px;
        transform: translateX(-320px);
        transition: all 300ms linear;
        color: $color-black;
        z-index: -1;

        .gnbMenuLi {
          margin-bottom: 6px;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: normal;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      &:hover {
        .gnbAndLogo {
          .menuBarIcon {
          }
          .zaranaraLogo {
            transform: translateX(-40px);

            & path {
              fill: $color-black;
            }
          }
        }

        .gnbMenuBar {
          position: absolute;
          top: 0;
          display: block;
          width: 320px;
          height: 100vh;
          transform: translateX(0px);
          background-color: $color-white;
          overflow: hidden;

          .gnbMenuLi {
            margin-bottom: 6px;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: normal;
          }
        }
      }
    }
  }

  .navCenterContainer {
    .searchLink {
      a {
        font-size: 18px;
        font-weight: 500;

        .line {
          display: inline-block;
          width: 120px;
          margin-left: 6px;
          border-bottom: 1px solid $color-white;
        }
      }
    }
  }

  .navRightContainer {
    @include flexSpaceBetweenCenter;
    padding: 0 38px 0 4.05%;

    .loginContainer {
      display: flex;

      > div {
        margin-left: 28px;
      }

      .loginLink {
        @include flexCenter;

        .loginIcon {
          font-size: 24px;
          margin-right: 4px;
        }

        .loginTxt {
          font-size: 12px;
          font-weight: 500;
          line-height: 30px;
        }
      }

      .cartLink {
        @include flexCenter;

        .cartIcon {
          font-size: 24px;
          margin-right: 4px;
        }

        .carTxt {
          font-size: 12px;
          font-weight: 500;
          line-height: 30px;
        }
      }
    }
  }
}
