@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100px;
  color: #1e1e1e;

  .navLeftContainer {
    display: flex;

    .menuBar {
      width: 38px;
      margin-left: 20px;
    }

    .gnbMenuBar {
      position: absolute;
      transform: translateX(-320px);
      transition: all 300ms linear;
      height: 100vh;
      width: 320px;
      padding: 125px 28px 28px 28px;
      z-index: -1;

      .gnbMenuLi {
        font-size: 18px;
        letter-spacing: normal;
        margin-bottom: 6px;
        line-height: 26px;
      }
    }

    .gnbMenuWrap {
      display: flex;

      &:hover {
        .gnbMenuBar {
          display: block;
          position: absolute;
          width: 320px;
          height: 100vh;
          overflow: hidden;
          transform: translateX(0px);

          .gnbMenuLi {
            font-size: 18px;
            letter-spacing: normal;
            margin-bottom: 6px;
            line-height: 26px;
          }
        }
      }

      .logo {
        width: 260px;
        cursor: pointer;
      }
    }
  }

  .navCenterContainer {
    .searchLink {
      a {
        font-weight: 500;
        font-size: 18px;

        .line {
          display: inline-block;
          width: 150px;
          margin-right: 3px;
          border-bottom: 1px solid #1e1e1e;
        }
      }
    }
  }

  .navRightContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 38px 0 4.05%;

    .loginContainer {
      display: flex;

      > div {
        margin-left: 20px;
      }

      .loginLink {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        .loginIcon {
          width: 18px;
          margin-right: 3px;
          margin-right: 4px;
        }

        .loginText {
          font-weight: 500;
          font-size: 12px;
          line-height: 30px;
        }
      }

      .cartLink {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        .cartIcon {
          width: 18px;
          margin-right: 4px;
        }

        .cartText {
          font-weight: 500;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }
  }
}
