@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.jb-wrap {
  width: 40%;
  margin: 10px auto;
  border: 1px solid #000000;
}
.jb-wrap img {
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
}
.jb-text {
  padding: 5px 10px;
  background-color: #1e1e1e;
  text-align: center;
}
.jb-text :hover {
  background-color: #1e1e1e;
  color: white;
}
