@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.arrows {
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: #fff;
    font-size: $font-large;
    z-index: 999;
    cursor: pointer;

    & {
      .leftArrow,
      .rightArrow {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .next {
    right: 0;
  }
}
